.thank-you {
    padding: 90px 0;

    .page-inner {
        padding: 40px;
    }
    .header {
        h1 {
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 32px;
        }
        p {
            max-width: 768px;
            margin: 0 auto;
        }
    }
    .order-summery {
        margin-top: 40px;
        padding: 15px 20px;

        h3 {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 1px solid #dee2e6;
        }
    }
    .return-home {
        margin-top: 30px;
        a {
            display: inline-block;
            font-size: 15px;
            border: 1px solid #000;
            padding: 8px 16px;
            transition: all 0.3s;

            &:hover {
                background-color: var(--color-theme);
                border-color: var(--color-theme);
                color: var(--color-white);
            }
        }
    }
}